@font-face {
  font-family: 'JalnanGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  background-size: cover;
  
}

div{
	margin: 0px;
	top : 7%;
    height: 100vh;
	background-image: url("../image/main_image/main_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	 z-index: 0;
}
.login {
  background-color:transparent;
  border: none;
  width: 187px;
  height: 63px;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 24px;
  position: absolute;
  top: 0%;
  left: 83%;
}
.string1 {
  color: darkgrey;
  position: absolute;
  top: 30%; /* 원하는 위치로 조정 */
  left: 9%; /* 원하는 위치로 조정 */
  transform: translate(-50%, -50%);
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 14px;
    z-index: 1; 
}
.string2 {
  color:black;
  position: absolute;
  top: 35%; /* 원하는 위치로 조정 */
  left: 22.5%; /* 원하는 위치로 조정 */
  transform: translate(-50%, -50%);
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 35px;
    z-index: 1; 
}
.string3 {
  color:dimgray;
  position: absolute;
  top: 43%; /* 원하는 위치로 조정 */
  left: 16%; /* 원하는 위치로 조정 */
  transform: translate(-50%, -50%);
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 18px;
    z-index: 1; 
}
.string4 {
  color:dimgray;
  position: absolute;
  top: 46%; /* 원하는 위치로 조정 */
  left: 13.7%; /* 원하는 위치로 조정 */
  transform: translate(-50%, -50%);
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 18px;
    z-index: 1; 
}
.developer {
  width: 85%; /* Cover the entire width of the screen */
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 88%; /* Adjust as needed */
  bottom: 0; /* Align to the bottom of the screen */
  left: 6%; /* Align to the left of the screen */
  font-family: JalnanGothic;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  background-color: rgba(117,191,122,1);
  padding: 20px; /* Adjust the padding as needed */
   border-radius: 15px;
}

.checklist {
  background-image: url("../image/main_image/Checklist_button.png");
  border: none;
   background-size: contain;
   background-repeat: no-repeat;
  background-position: center;
  width: 230px;
  height: 60px;
  position: absolute;
  bottom: 14%;
  left: 5%;
}

.goschedule {
  background-image: url("../image/main_image/GoSchedule_button.png");
  background-size: contain;
   background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 220px;
  height: 57px;
  position: absolute;
  bottom: 40%;
  left: 5%;
}

.title_explain {
  width: 550px;
  color: rgba(158,157,162,1);
  position: absolute;
  top: 341px;
  left: 104px;
  font-family: Jalnan;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.title {
  width: 419px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 380px;
  left: 98px;
  font-family: Jalnan;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}

.miniTitle {
  width: 640px;
  color: rgba(117,191,122,1);
  position: absolute;
  font-family: yg-jalnan;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  top: 0%;
  left: 5%;
}

body, html {
  height: 100%;
  margin: 0; /* Remove default margin to ensure full coverage */
  overflow: hidden; /* Disable scrollbars */
}

img {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 2%;
  left: 82%;
}